.flex-row,
.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 500;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    position: relative;
    background-color: #fff;
    width: 400px;
    border-radius: 12px;
    padding: 50px;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.image_view,
.upload-box {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    border: 1px solid #eee;
}

.upload-box {
    position: relative;
}

.file-name-message {
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

.file_upload_input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image_view {
    background-color: #ffffff70;
    background-image: url(./assets/image-file.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.upload-btn {
    width: 100%;
    height: 10%;
    padding: 20px;
    display: none;
}

.upload-btn>button {
    height: auto;
    width: auto;
    padding: 8px 12px;
    color: #e7e7e7;
    font-size: 1rem;
    font-weight: 400;
    background-color: #0d6efd;
    border-radius: 0.25rem;
    border: none;
    transition: background-color 0.3s ease;
}


.upload-btn>button:hover {
    background-color: #1263db;
}

.image-output {
    display: none;
    /* box-sizing: border-box; */
    background-color: #fff;
    width: 400px;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

#copy-btn {
    border-radius: 5px;
    border: none;
    background-color: #0d6efd;  
    color: #fff;
    padding: 7px;
    cursor: pointer;
}

#copy-btn:hover {
    background-color: #1263db;
}

.copy-section {
    position: relative;
    border: 1px solid black;
}

.wrapper-alert {
    /* display: none; */
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.message-alert {
    display: none;
    font-size: 14px;
    background-color: #171717;
    font-weight: 400;
    color: #e7e7e7;
    padding: 7px;
    border-radius: 15px;
    text-align: center;
    /* display: flex; */
    gap: 5px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.message-alert svg {
    fill: #4CAF50;
}

.file-url {
    width: 100%;
    padding: 10px;
    background-color: #eee;
    word-break: break-all;
    border-radius: 5px;
    border: none;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: blueviolet;
}

.reload-box {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: #f1e2f870;
}

.reload-box .text {
    color: #303077;
    font-weight: 500;
}

.reload-icon {
    height: 40px;
    width: 40px;
    border: 5px solid #0d6efd;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .container, .image-output {
        width: 65vw;
        font-size: 14px;
    }

    .message-alert {
        left: 54vw;
    }
}

@media screen and (max-width: 470px) {
    .message-alert {
        left: 50vw;
    }
}